.super-header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.super-header-left {
    display: flex;
    flex: 0.4;
    align-items: center;
}

.super-header-logo {
    flex: 0.4;
    text-align: right;    
    padding: 4px 15px;
}
.super-header-logo span {
    font-size: 28px;
    color: #00A94F;
    font-weight: bold;
}

.super-header-title {
    display: flex;
    flex-direction: column;
    flex: 0.6;
    padding: 4px 15px;
    border-left: 1px solid #ccc;
}
.super-header-title span {
    font-size: 10px;
}

.super-header-title-top {
    display: flex;
}
.super-header-title-top span {
    font-weight: bold;
}

.super-header-title-bottom {
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
}
.super-header-title-bottom span:first-child {
    color: #aaa;
}
.super-header-title-bottom span:last-child {
    color: #00A94F;
    margin-left: 10px;    
}

.super-header-right {
    flex: 0.6;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.super-header-buttons {
    display: flex;
}
.super-header-buttons i {
    font-size: 44px;
    color: #00A94F;
    margin-right: 5px;
}

.super-header-avatar {
    width: 36px;
    height: 36px;
}