<div class="super-header" *ngIf="profile">
    <div class="super-header-left">
        <div class="super-header-logo">
            <span>ASSI</span>
        </div>
        <div class="super-header-title">
            <div class="super-header-title-top">
                <span>{{ profile.store? ('TIENDAS ' + profile.store.group_store.name.toUpperCase()): '' }}</span>
            </div>
            <div class="super-header-title-bottom">
                <span>{{ profile.store? ('TIENDA ' + profile.store.name.toUpperCase()): '' }}</span>
                <span (click)="editStore()">EDITAR</span>                
            </div>
        </div>
    </div>
    <div class="super-header-right">
        <div class="super-header-buttons">
            <i class="material-icons" (click)="print()">print</i>
        </div>
        <div class="super-header-avatar">
            <s-mini-avatar [first_name]="profile.first_name"
                [last_name]="profile.last_name"
                [image]="profile.image"
                (click)="clickAvatar()">
            </s-mini-avatar>
        </div>
    </div>
</div>