.main-body {    
    
}

.main-body-head {
    display: flex;
    padding: 40px 15px 30px 15px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    justify-content: center;
}

.main-body-head-left {    
    display: flex;
    align-items: center;
    justify-content: flex-end;    
}

.main-body-head-left-avatar {
    display: flex;    
    margin-right: 3%;
}
.main-body-head-left-avatar img {
    height: 90px;
}

.main-body-head-left-description {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
}
.main-body-head-left-description span {
    margin-bottom: 5px;
}
.main-body-head-left-description span:last-child {
    color: #3ca7ee;
    font-weight: bold;
}

.main-body-head-right {    
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.main-body-head-right-vert {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.main-body-head-right-detail {
    margin-bottom: 8px;
    position: relative;
}
.main-body-head-right-detail span:nth-child(2) {
    margin-left: 5px;
    color: #777;    
}
.main-body-head-right-detail i {    
    color: #00A94F;
    font-size: 18px;
    position: absolute;
    top: -3px;
    margin-left: 2px;
}

.main-body-content {
    display: flex;    
    height: 100%;
    justify-content: center;    
}

.main-body-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    padding: 40px 30px 80px 30px;
}

.main-body-card {
    margin: 5px;
    width: 310px;
}

.card-body.account-card-body {
    padding: 30px;        
    flex-direction: column;
}

.account-card-body .card-body-title {
    display: flex;
}
.account-card-body .card-body-title span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.account-card-body .card-body-detail {
    display: flex;
    margin-top: 20px;
    color: #777;
}
.account-card-body .card-body-detail-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 10px;
}
.account-card-body .card-body-detail-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: right;
}
.account-card-body .card-body-detail-title {
    font-size: 10px;
}
.account-card-body .card-body-detail-description {
    font-size: 14px;
    margin-top: 8px;
}
.account-card-body .card-body-more p {
    color: #777;
    text-align: justify;
}

.card-footer.account-card-footer {    
    justify-content: center;    
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    color: #00A94F;
}                       

.account-card-footer span {    
    font-weight: bold;
}
.account-card-footer i {
    margin-left: 5px;
}