<div class="main-body">
    <div class="main-body-head" *ngIf="profile">
        <div class="main-body-head-left">
            <div class="main-body-head-left-avatar">
                <img src="/assets/imgs/assi_guy.png" />
            </div>
            <div class="main-body-head-left-description">
                <span>{{ profile.first_name }}</span>
                <span>{{ profile.last_name }}</span>
                <span>{{ profile.segment? profile.segment.name: 'Segmento sin asignar' }}</span>
            </div>
        </div>
        <div class="main-body-head-right">
            <div class="main-body-head-right-vert">
                <div class="main-body-head-right-detail">
                    <span>DNI:</span>
                    <span>{{ profile.dni? profile.dni.toUpperCase(): '' }}</span>
                </div>
                <div class="main-body-head-right-detail">
                    <span>CU:</span>
                    <span>{{ profile.cu? profile.cu.toUpperCase(): '' }}</span>
                </div>
                <div class="main-body-head-right-detail">
                    <span>STATUS:</span>
                    <span>{{ profile.status? profile.status.name.toUpperCase(): '' }}</span>
                    <i class="material-icons">check_circle</i>
                </div>
            </div>
        </div>
    </div>
    <div class="main-body-content">
        <div class="main-body-cards">
            <div *ngFor="let account of accounts" class="main-body-card">
                <s-card>            
                    <div class="card-body account-card-body">
                        <div class="card-body-title">
                            <img src="/assets/imgs/alcancia.png"/>
                            <span>{{ account.title }}</span>
                        </div>
                        <div class="card-body-detail">
                            <div class="card-body-detail-left">
                                <span class="card-body-detail-title">TREA S/ Y $</span>
                                <span class="card-body-detail-description">
                                    {{ getTrea(account) }}                                    
                                </span>
                            </div>
                            <div class="card-body-detail-right">
                                <span class="card-body-detail-title">MONTO DE APERTURA</span>
                                <span class="card-body-detail-description">
                                    {{ getOpeningAmount(account) }}
                                </span>
                            </div>
                        </div>
                        <div *ngIf="view_account_id == account.id" class="card-body-more">
                            <p>Estos son detalles adicionales que se pueden visualizar al desplegar el card. 
                                Detalles como las comisiones de pago, restricciones de la cuenta, políticas de uso, entre otros.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer account-card-footer" (click)="viewAccount(account)">
                        <span>{{ 'Ver ' + (view_account_id == account.id? 'menos': 'más') }}</span>
                        <i *ngIf="view_account_id != account.id" class="material-icons">expand_more</i>                
                        <i *ngIf="view_account_id == account.id" class="material-icons">expand_less</i>
                    </div>            
                </s-card>
            </div>
        </div>
    </div>
</div>