.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.m-header {
    flex: 0 0 auto;
}

.m-body {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fafafa;    
    height: 100%;
    position: relative;
}