.s-card {
    display: flex;    
    flex-direction: column;
    border-radius: 5px;    
    background-color: #fff;
    box-shadow: 0px 4px 8px 2px #ddd;
}
.s-card .card-body {
    display: flex;
    padding: 15px;
}
.s-card .card-footer {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ebebeb;
}