<div class="s-mini-avatar">
    <div class="s-mini-avatar-cutter">
        <div class="s-mini-avatar-circle">
            <span *ngIf="!image">{{ initials }}</span>
            <img *ngIf="image" [src]="image" />
        </div>
    </div>
</div>