.s-mini-avatar {
    display: flex;
    width: 100%;
    height: 100%;
}

.s-mini-avatar-cutter {    
    display: flex;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ebebeb;    
    background-color: #00A94F;
}

.s-mini-avatar-circle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-mini-avatar-circle span {
    color: #fff;
    font-size: 10px;
}
.s-mini-avatar-circle img {
    height: 100%;
}