<div class="sub-header">
    <div class="sub-header-left-buttons">
        <div class="sub-header-button" (click)="action('dashboard')">
            <i class="material-icons">dashboard</i>
            <span>DASHBOARD</span>
        </div>
    </div>
    <div class="sub-header-right-buttons">
        <div class="sub-header-button" (click)="action('exit')">
            <i class="material-icons">exit_to_app</i>
            <span>TERMINAR ATENCION</span>
        </div>
    </div>
</div>