.sub-header {
    display: flex;
    background-color: #00A94F;
    padding-top: 18px;
    padding-bottom: 18px;
}

.sub-header-left-buttons {
    flex: 0.5;    
    padding-left: 10%;    
    display: flex;
}

.sub-header-right-buttons {
    flex: 0.5;
    padding-right: 10%;    
    display: flex; 
    justify-content: flex-end;       
}

.sub-header-button {
    align-items: center;
    display: flex;
    color: white;
    font-size: 10px;
    font-weight: bold;
}
.sub-header-button i {
    font-size: 28px;
}
.sub-header-button span {
    margin-left: 5px;
}